<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>新規ユーザ登録</title>
</head>
<body>
  <h1>ユーザを追加して開始</h1>
  <form action="/new-user" method="POST">
    <label>ユーザ名:
      <input type="text" name="user_name" required>
    </label>
    <button type="submit">開始</button>
  </form>
</body>
</html>
